{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sistema Estacionamento</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/home.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css'>
    <script src='main.js'></script>
</head>
<body>
    <header class="cabeçalho">
        <nav class="navigation">
            <img id="logo" src="{% static '\media\estac.png' %}">
            <ul class="nav-menu">
                <li class="nav-ienm"><a href="#">Inicio</a></li>
                <li class="nav-ienm"><a href="#">Cidades</a></li>
                <li class="nav-ienm"><a href="#">Dúvidas</a></li>
                <li class="nav-ienm"><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>   
        <div class="caixa-inicio">
            <div class="caixa-left">
                <img src="{% static '\media\phone.png' %}" class="left-login-img" alt="animação">
            </div>
            <div class="caixa-right">
                <h1>UM JEITO <br>RÁPIDO E PRÁTICO <br>DE ESTACIONAR</h1>
                <h2>É o jeito mais fácil de estacionar seu veículo <br>sem precisar se deslocar. Compre horas de estacionamento por meio do seu celular em nosso aplicativo.</h2>
            </div>
        </div>
        <div>
            <h1 class="titulo1">A gestão do seu estacionamento facilitado é <br>
                com o <b>SistEst</b></h1>
        </div>
        <div class="card1">
            <div class="card2">
                <p class="titulo2">Controle de caixa</p>
                <p class="texto1">Abertura e fechamento de caixa com relatórios. 
                    Sistema simples integrado com seu aplicativo Android. 
                    Com as opções de cobrança do estacionamento por preço ou por tempo.</p>
            </div>
            <div class="card2">
                <p class="titulo2">Captura da placa com a câmera</p>
                <p class="texto1">Utilize a câmera do seu smartfone 
                    para capturar a placa do carro. Com isso você deixa 
                    seu negócio mais ágil e evitar erros de digitação.</p>
            </div>
        </div>
        <div class="card1">
            <div class="card2">
                <p class="titulo2">Aplicativo Off-line</p>
                <p class="texto1">O aplicativo não necessita de internet 
                    para funcionar. Melhorando o custo e eficiência 
                    no estacionamento.</p>
            </div>
            <div class="card2">
                <p class="titulo2">Tipos de Estacionamentos</p>
                <p class="texto1">Rotativo, Cobrança por tempo e Mensalistas.</p>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <div class="developer">
          <a href="https://www.site.com.br/" target="_blank" 
              rel="noreferrer noopener">By Joás Jordson</a>
        </div>
      
        <div class="powered">
          <a href="https://www.djangoproject.com/" target="_blank" 
              rel="noreferrer noopener">Powered by Django</a>
        </div>
      </footer>
</body>
</html>